<!DOCTYPE html>

<head>

    <link id="theme" type="text/css" rel="stylesheet" href="/static/default.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Me</title>

</head>


<body>

    <div class="nav_menu"> <!--This is the navigation bar with all website links-->

        <a href="/" class="nav_link" style="left: 5%">Home</a>

        <a href="/about_me" class="nav_link" style="left: 15%">About Me</a>

        <a href="/portfolio" class="nav_link" style="left: 25%">Portfolio</a>
        
        <a href="/contact_us" class="nav_link" style="left:35%">Contact Us</a>

    </div>


    <!--Below is content that explains who I am-->

    <div class="about_me_main">

        <p>My name is Andrei. I am currently a college student studying a<br> </p>
        <p>Level 3 T-Level in Digital Production, Design and Development.<br> </p>
        <p>My main goal after completing this course is to start an<br> </p>
        <p>apprenticeship in Software Development, or begin a full/part time job.</p>


    </div>


    <img src="/static/man.jpg" alt="business man" class="about_me_img">


    <div class="sections" style="top:10vw"> <!--This is one of the sections that explains who I am-->

        <img src="/static/icon1.png" alt="icon1" style="top:2vw">

        <p>I enjoy puzzle solving,<br> </p>
        <p>completing challenging tasks,<br> </p>
        <p>and helping others</p>

    </div>


    <div class="sections" style="top:20vw; right:7vw"> <!--This is one of the sections that explains who I am-->

        <img src="/static/icon2.png" alt="icon2" style="top:2vw; right: 25vw">

        <p>I achieved a Grade 6 in English GCSE.<br> </p>
        <p>I achieved a Grade 6 in Math GCSE.<br> </p>
        <p>I achieved a Grade 5 in Science GCSE.</p>

    </div>


    <div class="sections" style="top:30vw; right: 5vw"> <!--This is one of the sections that explains who I am-->

        <img src="/static/icon3.png" alt="icon3" style="top:3vw; right:25vw">

        <p>I have over 315 hours<br>
         worth of work exprience.<br> </p>
        <p>In these hours, I have taught<br>
         children vital digital skills,<br> </p>
        <p>and I have worked in an office creating<br>
         e-Learning modules for companies.</p>

    </div>



</body>