<!DOCTYPE html>

<head>

    <link id="theme" type="text/css" rel="stylesheet" href="/static/default.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

</head>


<body>

    <div class="nav_menu"> <!--This is the navigation bar with all website links-->

        <a href="/" class="nav_link" style="left: 5%">Home</a>

        <a href="/about_me" class="nav_link" style="left: 15%">About Me</a>

        <a href="/portfolio" class="nav_link" style="left: 25%">Portfolio</a>

        <a href="/contact_us" class="nav_link" style="left:35%">Contact Us</a>

    </div>


    <h1 style="top:20%; left:23%; position: absolute;">WELCOME!<br> My name is Andrei, and this is my Website made from scratch.</h1>

    <img src="/static/home_bg.jpg" alt="welcome image" class="home_img">


</body>