<!DOCTYPE html>

<head>

    <link id="theme" type="text/css" rel="stylesheet" href="/static/default.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Me</title>

</head>


<body>

    <div class="nav_menu"> <!--This is the navigation bar with all website links-->

        <a href="/" class="nav_link" style="left: 5%">Home</a>

        <a href="/about_me" class="nav_link" style="left: 15%">About Me</a>

        <a href="/portfolio" class="nav_link" style="left: 25%">Portfolio</a>

        <a href="/contact_us" class="nav_link" style="left:35%">Contact Us</a>

    </div>

    
    <img class="briefcase" src="/static/briefcase.jpg" alt="briefcase">

    <div class="left_side">

    <h1>Andrei Amagiya</h1>

        <p>My name is Andrei. I am currently a college student studying a </p>
        <p>Level 3 T-Level in Digital Production, Design and Development. </p>
        <p>My main goal after completing this course is to start an </p>
        <p>apprenticeship in Software Development, or begin a full/part time job.</p>

    </div>


    <div style="right:40vw; top:7vw; position: absolute;">

        <h3>Expertise<br> </h3>           

        <p>- Python</p>     <p>- Flask</p>
        <p>- HTML</p>    <p>- CSS</p>     
        <p>- SQL</p>
        
    </div>    
    
    <div style="right:10vw; top:7vw; position: absolute;">
        <h3>Software Skills<br> </h3>

        <p>- Good attention to detail</p>   <p>- Problem Solving</p>
        <p>- Time Effecient</p>      <p>- Good at working in a team/group</p>
        <p>- Teaching Others</p>

    </div>


    <div style="top:21vw; right:20vw; position: absolute;">

        <h3>Experience</h3>

        <p>Assistant Code Coach for Jam Coding                              2023-2024</p>

        <p>Intern for Autonomy Multimedia                                   2024-2025</p>

    </div>


    <div style="top:30vw; right:18vw; position: absolute;">

        <h3>Education</h3>

        <p>GCSE - Grade 6 in English<br> </p>
        <p>GCSE - Grade 6 in Math<br> </p>
        <p>GCSE - Grade 5 in Computer Science<br> </p>
        <p>GCSE - Grade 5 in Science<br> </p>

        <p>1st Year T-Level - Grade C in Core: Exams<br> </p>
        <p>1st Year T-Level - Grade B in Core: Employer Set Project<br> </p>

        <p>Currently waiting for results for 2nd Year T-level</p>


    </div>

</body>