<!DOCTYPE html>

<head>

    <link id="theme" type="text/css" rel="stylesheet" href="/static/default.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contact Us</title>

</head>


<body>

    <div class="nav_menu"> <!--This is the navigation bar with all website links-->

        <a href="/" class="nav_link" style="left: 5%">Home</a>

        <a href="/about_me" class="nav_link" style="left: 15%">About Me</a>

        <a href="/portfolio" class="nav_link" style="left: 25%">Portfolio</a>
        
        <a href="/contact_us" class="nav_link" style="left:35%">Contact Us</a>

    </div>


    <h3 class="contact_note">Thank you for your thought.<br> 
    We will get back to you shortly!</h3>


    <img src="/static/thanks.jpg" alt="Thank You" class="thanks_img">


</body>